.table {
  background-color: white;
  border-collapse: collapse;
  margin-top: 1rem;
  border-bottom: 2px solid #6678a3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

.table tr:hover {
  background-color: rgb(215, 225, 255);
}

.table tr:nth-child(even):hover {
  background-color: rgb(215, 225, 255);
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  background-color: #6678a3;
  color: white;
  padding: 0.5rem;
}

.table td {
  border-left: 1px solid #c4c3c3;
  border-right: 1px solid #c4c3c3;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1rem;
}

.searchIcon {
  position: absolute;
  margin-top: 3px;
  margin-left: 6px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.searchContainer select {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 150px;
  box-sizing: border-box;
  margin-left: 1rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #fff;
}

.searchContainer select:focus {
  outline-color: #c4c3c3;
}

.searchContainer [type='text'] {
  width: 15rem;
  height: 2.1rem;
  border: none;
  border-color: silver;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e7e7e7;
  padding-left: 40px;
}

.searchContainer [type='text']:focus {
  outline-color: #c4c3c3;
}

.searchContainer [type='submit'] {
  background: #6678a3;
  border: 0;
  color: white;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition-duration: 0.3s;
}

.searchContainer [type='submit']:hover {
  background-color: #9e9e9e;
}

.anotherContainer {
  margin-left: 30.7rem;
  margin-bottom: -33px;
}

.buttonContainer [type='button'] {
  width: 7rem;
  height: 2rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #6678a3;
  color: white;
  transition-duration: 0.3s;
}

.buttonContainer [type='button']:hover {
  background-color: #9e9e9e;
}

.buttonContainer h1 {
  border: 0.2rem solid #6678a3;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5rem;
}

.buttonContainer p {
  font-size: 20px;
}
