.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topFrame {
  width: 210rem;
  height: 3.2rem;
  background-color: #738fb5;
  overflow: visible;
  position: fixed;
  top: 0;
}

.bottomFrame {
  width: 210rem;
  height: 3.2rem;
  background-color: #738fb5;
  overflow: visible;
  position: fixed;
  bottom: 0;
}
