.translateIcon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  z-index: 10;
}

.translateIcon:hover {
  cursor: pointer;
  opacity: 40%;
  transition-duration: 0.4s;
}

.dropdown {
  position: fixed;
  width: 200px;
  top: 4.5rem;
  left: 1.5rem;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: azure;
}

.dropdown ul {
  list-style: none;
  padding: 0rem 0rem 0rem 1rem;
  width: 90px;
}

.dropdown li {
  font-size: 22px;
}

.dropdown li:hover {
  color: #6678a3;
  cursor: pointer;
}
